@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

$font-body: 'Roboto Mono', monospace;

* { padding: 0; margin: 0; }
p { line-height: 1.4rem; }

body {
  font-family: $font-body;
  font-size: 15px;
  background-color: #090c10;
  color: #fff;
}

#main {
  position: absolute;
  width: 100%; height: 100%;
  display: flex; justify-content: center; align-items: center;
  text-align: center;
}