doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Auth - Login
  body 
    #auth
      form#auth-wrap(action="/login", method="post")
        - if ( message !== undefined ) {
            p.message #{ message }
        - }
        input(type="text", name="nameOrEmail" placeholder="Masukan Username atau Email" required)
        input(type="password", name="password" placeholder="Masukan Password" required)
        button(type="submit") Buat Akun 