doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Auth - Register
  body 
    #auth
      form#auth-wrap(action="/register", method="post")
        - if ( message !== undefined ) {
            p.message #{ message }
        - }
        input(type="text", name="username" placeholder="Masukan Username" requied)
        input(type="email", name="email" placeholder="Masukan Email" requied)
        input(type="password", name="password" placeholder="Masukan Password" requied)
        input(type="password", name="confirmPassword" placeholder="Masukan Password Sekali Lagi" requied)
        button(type="submit") Buat Akun 